@media (min-width:$mobile )
{
    .parallax
    {
        position: absolute;
        z-index: 1;
        top: 0;

        overflow-x: hidden;
        overflow-y: overlay;

        height: 100vh;
        width: 100vw;

        //background: linear-gradient(to bottom, #0a1425 0%,#101e3b 39%,#152d5b 64%,#1f426c 100%)
        background: linear-gradient(to bottom, #0a1425 0%,#101e3b 39%,#152d5b 54%,#1f426c 80%,#2f5c91 100%);;

        perspective: 1px;
    }

    .parallax__layer
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .stars__group
    {
        transform: translateZ(0);
    }

    .parallax__group
    {
        position: relative;
        top: 200%;

        overflow: hidden;

        tarnsition: .3s;
    }

    .parallax__layer--back
    {
        position: absolute;
        bottom: -250vh;
        left: 100px;

        transform: translateZ(0px) scale(2);
    }

    .wrapper
    {
        transform: translateZ(-1px) scale(2);
    }

    .portfolio
    {
        transform: translateZ(-2px) scale(2.4);
    }

@supports (-moz-appearance:none)
    and (word-spacing:100%)
    {
        .portfolio
        {
            transform: none;
            margin-bottom:100px;
            width:80%;
        }
    }
}
